.col-md-6
  %h1
    Category: 
    = @category.title

  = link_to "New +", new_category_book_path(@category), class: "btn btn-default"
  %ul
    %h3 Books:
    - @books.each do |b|
      %li
        = link_to "#{b.title}", category_book_path(@category, b)
        .btn-group
          = link_to "x", category_book_path(@category, b), method: :delete, class: "btn btn-danger"
          = link_to "Edit", edit_category_book_path(@category, b), class: "btn btn-info"

