!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Book Store
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .col-md-3.categories
        %h2 Categories
        - @categories = Category.all
        = link_to "New +", new_category_path, class: "btn btn-default"
        %br 
        %br
        - @categories.each do |cat|
          %ul
            %li
              %h3
                = cat.title
                = link_to "x", category_path(cat), method: :delete, class: "btn btn-danger"
                = link_to "Edit", edit_category_path(cat), class: "btn btn-info"

      .data
        = yield          
